{% extends "base.html" %}
{% block content %}
<h1>Recruiters</h1>
<form method="post" class="row g-2 mb-4">
  <div class="col-md-4"><input required class="form-control" name="name" placeholder="Name"></div>
  <div class="col-md-4"><input required class="form-control" name="company" placeholder="Company"></div>
  <div class="col-md-3"><input class="form-control" name="email" placeholder="Email"></div>
  <div class="col-md-1"><button class="btn btn-primary w-100">Add</button></div>
</form>

<table class="table table-striped">
  <thead><tr><th>Name</th><th>Company</th><th>Email</th><th>Created</th></tr></thead>
  <tbody>
  {% for recruiter in recruiters %}
    <tr><td>{{ recruiter.name }}</td><td>{{ recruiter.company }}</td><td>{{ recruiter.email or '-' }}</td><td>{{ recruiter.created_at.strftime('%Y-%m-%d') }}</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
